extends layout

block content
    div.container.text-center
        h1 Welcome to translate-json.com !

    div.container.mt-5.text-center
        a(href='/translate')
            button.btn.btn-secondary Start now!

    div.container.mt-3.text-center
        p To use the REST api, click below
        a(href='/docs')
            button.btn.btn-secondary API Docs
